<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exemplo - BiblioTech</title>
    <link rel="stylesheet" href="../public/css/main.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">BiblioTech</div>
    </header>

    <main class="main-content container">
      <h2 class="heading-secondary">Cadastro de Exemplos</h2>

      <div class="admin-form">
        <input type="text" id="inputNome" placeholder="Digite um nome" />
        <button id="btnCadastrar">Cadastrar</button>
      </div>

      <h3 class="heading-secondary">Lista de Exemplos</h3>
      <ul id="listaExemplos"></ul>
    </main>

    <footer>
      <p>&copy; 2025 BiblioTech. Todos os direitos reservados.</p>
    </footer>

    <!-- JS -->
    <script type="module" src="../public/js/pages/exemplo.js"></script>
  </body>
</html>
